.newsfeed-page .searchBar {
	padding: 0.5rem 1.5rem;
	box-sizing: border-box;
	box-shadow: 0px 0px 12px rgba(77, 77, 77, 0.1);
}
.newsfeed-page svg:not(svg.search-icon) {
	margin: 0;
}
.newsfeed-page > .searchBar h2 {
	margin-left: 0;
}
.newsfeed-page-container {
	padding: 1.5rem;
	height: calc(100vh - 10rem);
	overflow-y: scroll;
	background-color: #f8f8f8;
}
.approve-new-newsfeed-post {
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1.75rem 1.5rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	background: #0c6350;
	border-radius: 0.5rem;
	color: white;
}
.approve-new-newsfeed-post span.notification-number {
	margin: 0;
	padding: 0.25rem 0.75rem;
	font-size: 0.9rem;
	font-weight: 500;
}

/* Filters container */
.newsfeed-page-filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

/* Individual filters */
.newsfeed-page-filter {
	box-sizing: border-box;
	margin-left: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.75rem 0.75rem;
	gap: 0.5rem;
	background: #eaf7f0;
	border-radius: 0.5rem;
	cursor: pointer;
}
.newsfeed-page-filter p {
	color: #0c6350;
	margin: 0;
}
.newsfeed-page-filter span {
	height: 1rem;
}
.newsfeed-page-filter span.double-arrow {
	height: 1rem;
}
.danger.show-flagged {
	display: flex;
	flex-direction: row;
	padding: 0.85rem 0.5rem;
	background: transparent;
	gap: 0.5rem;
}
.danger.show-flagged.active {
	background: #fde8eb;
	border-color: #fde8eb;
}
.newsfeed-posts-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -2rem;
	width: auto;
	margin-top: 1.5rem;
	margin-bottom: 5rem;
}

.newsfeed-posts-container-column {
	padding-left: 2rem;
	background-clip: padding-box;
}
/* likes and comments icons */
.newsfeed-post-actions .icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	cursor: default;
	pointer-events: none;
}
.newsfeed-post-actions .icons > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.newsfeed-page-container .building-filter {
	margin-right: 0;
}

.newsfeed-page .list-dropdown {
	right: 1.6rem !important;
}
input[type="radio"],
input[type="radio"]:hover,
input[type="radio"]:focus,
input[type="radio"]:active {
	accent-color: #1e9e5e !important;
	border: none;
	outline: none;
	margin-top: 0 !important;
	cursor: pointer;
}
.date-filter-dropdown {
	position: absolute;
	top: 16.5rem;
	right: 14rem;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	gap: 4px;
	background: #ffffff;
	box-shadow: 0px 0px 12px rgba(77, 77, 77, 0.1);
	border-radius: 8px;
	min-width: 21.4rem;
}
.date-filter-dropdown ul {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 0;
	width: 100%;
}
.date-filter-dropdown ul li {
	width: 100%;
	padding: 8px 4px;
	cursor: pointer;
}
.date-filter-dropdown ul li label {
	width: 100%;
	cursor: pointer;
}
.date-filter-dropdown ul li:not(li:last-child) {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 4px;
	gap: 8px;
	border-radius: 4px;
	box-sizing: border-box;
}
.date-filter-dropdown ul li.active {
	background: #eaf7f0;
}
.date-filter-dropdown ul li > div:not(.date-picker-fields) {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0.25rem 0.5rem;
	width: 100%;
	cursor: pointer;
	box-sizing: border-box;
}
.date-filter-dropdown ul label:not(ul li:last-child label) {
	color: #4d4d4d;
	font-size: 12.64px;
	font-weight: 400;
	height: 100%;
}
.date-filter-dropdown ul li:last-child label {
	color: #4d4d4d;
	font-size: 12.64px;
	font-weight: 400;
	margin-top: -0.05rem;
}
.date-filter-dropdown .date-picker-fields {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 1rem;
	margin-left: 2.5rem;
}
.date-filter-dropdown .date-picker-fields .from,
.date-filter-dropdown .date-picker-fields .to {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 50%;
}
input[type="date"] {
	width: 7rem;
	border-radius: 8px;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	order: 1;
}
::-webkit-datetime-edit {
	font-size: 11.24px !important;
}
::-webkit-datetime-edit-fields-wrapper {
	background: #fff;
}
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-text {
	color: #b8b8b8;
	font-weight: 400;
	padding: 0.1rem;
}

::-webkit-inner-spin-button {
	display: none;
}
::-webkit-calendar-picker-indicator {
	stroke: #9d9d9d;
	opacity: 0.4;
}
@media only screen and (max-width: 1728px) {
	.newsfeed-posts-container {
		columns: 2 !important;
	}
}
