.announcements-page .searchBar {
	padding: 0.5rem 1.5rem;
	box-sizing: border-box;
	box-shadow: 0px 0px 12px rgba(77, 77, 77, 0.1);
}
.announcements-page svg:not(svg.search-icon) {
	margin: 0;
}
.announcements-page > .searchBar h2 {
	margin-left: 0;
}
.announcements-page-container {
	padding: 1.5rem;
	height: calc(100vh - 10rem);
	overflow-y: auto;
	background-color: #f8f8f8;
}
button.new-announcements {
	margin: 0;
	margin-left: 1rem;
	padding: 1rem 1.5rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}
button.new-announcements span {
	height: 1.5rem;
}

/* Filters container */
.announcements-page-filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

/* Individual filters */
.announcements-page-filter {
	box-sizing: border-box;
	margin-left: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.75rem 0.75rem;
	gap: 0.5rem;
	background: #eaf7f0;
	border-radius: 0.5rem;
	cursor: pointer;
	color: #0c6350;
}
.announcements-page-filter p {
	margin: 0;
}
.announcements-page-filter span {
	height: 1.5rem;
}
.announcements-page-filter span.double-arrow {
	height: 1rem;
}
.announcements-page .list-dropdown {
	right: 1.6rem !important;
}
.announcement-posts-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -2rem;
	width: auto;
	margin-top: 1.5rem;
	margin-bottom: 5rem;
}

.announcement-posts-container-column {
	padding-left: 2rem;
	background-clip: padding-box;
}

@media only screen and (max-width: 1728px) {
	.announcement-posts-container {
		columns: 2 !important;
	}
}
