/* Icons */

.password-input-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0.5rem;
}
.password-input-container input {
	width: 100%;
}

.password-input-container svg {
	position: absolute;
	right: 0.5rem;
	top: 1rem;
	cursor: pointer;
}
