.back-link {
	display: flex;
	position: absolute;
	text-decoration: none;
	align-items: center;
	color: #000;
	margin-bottom: 1rem;
	top: 15vh;
	margin-right: 30vw;
}
.right h3 {
	text-align: center;
	max-width: 32.5rem;
	font-weight: 400;
}
.back-link svg {
	margin: 0;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form button {
	height: 3.43rem;
}
